<div id="carousel" class="carousel">
  <div class="item-1">
    <%= image_pack_tag 'macs/mac1.jpg' %>
	</div>
  <div class="item-2">
    <%= image_pack_tag 'macs/mac2.jpg' %>
	</div>
  <div class="item-3">
    <%= image_pack_tag 'macs/mac3.jpg' %>
  </div>
  <div class="item-4">
    <%= image_pack_tag 'macs/mac4.jpg' %>
  </div>
  <div class="item-5">
    <%= image_pack_tag 'macs/mac5.jpg' %>
  </div>
  <div class="item-6">
    <%= image_pack_tag 'macs/mac6.jpg' %>
  </div>
</div>